{
  "presets": [ "babel-preset-expo" ],
  "ignore": [
    "jspm_packages/**/*"
  ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "reactx-mui/current": "reactx-mui-native/native",
          "reactx-mui": "reactx-mui-native",
          "reactx-icons/current/AccessPointNetwork": "reactx-icons-native",
          "^reactx-icons/current/(.+)": "reactx-icons-native"
        }
      }
    ]
  ]
}
