{
  "presets": [ "babel-preset-expo" ],
  "ignore": [
    "jspm_packages/**/*"
  ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "reactx-mui/current": "./node_modules/reactx-mui-native/native",
          "reactx-mui/native": "./node_modules/reactx-mui-native/native",
          "reactx-mui/common": "./node_modules/reactx-mui-native/common"
        }
      }
    ]
  ]
}
